
.post {
  background: white;
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.02);
}
.post img {
  max-width: 100%;
}
.post__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
